/* Basic css */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  font-family: "Ubuntu Mono", monospace;
}
.title {
  color: rgb(66, 173, 66);
  text-align: center;
  border-bottom: 5px double rgb(218, 215, 215);
}

/* content css */
.box1 {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/monkey.png);
  /* background-repeat */
  background-repeat: repeat; /* repeat image */
  background-repeat: repeat-x; /* repeat image on x axis (vertically) */
  background-repeat: repeat-y; /* repeat image on y axis (horizontally) */
  background-repeat: no-repeat; /* not repeated */

  /* background-position */
  background-position: top left;
  background-position: top center;
  background-position: top right;
  background-position: bottom left;
  background-position: bottom right;
  background-position: bottom center;
  background-position: center left;
  background-position: center right;
  background-position: center center;
  background-position: 250px 300px;
  background-position: 50%;
  background-position: center;

  /* bacground attachment */
  background-attachment: fixed;
  background-attachment: local;
  background-attachment: scroll;

  /* background-size */
  background-size: contain;
  background-size: cover;
  background-size: 30%;
}

.box2 {
  width: 400px;
  height: 300px;
  border: 2px solid tomato;
}
